.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
packages/valory/contracts/
packages/valory/protocols/
packages/valory/connections/
packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/mech_interact_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/termination_abci/
packages/valory/skills/transaction_settlement_abci/
langchain_trader/
!packages/valory/agents/langchain_trader/
!packages/valory/services/langchain_trader/
leak_report
/Pipfile.lock
.env
keys.json
ethereum_private_key.txt
packages/__pycache__/
__pycache__/
.idea
